@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131317;
  color: #e4e1e8;
  font-family: 'Inter', sans-serif;
}

.neo-noir-grid {
  background-image:
    linear-gradient(to right, rgba(73, 68, 85, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(73, 68, 85, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

.primary-gradient-cta {
  background: linear-gradient(135deg, #cfbdff 0%, #9e79ff 100%);
}
